body {
  font-family: Arial;
}

main {
  display: flex;
  flex-direction: column;
}

hr {
  color: lightsteelblue;
}

.heading {
  font-family: Arial;
  text-align: left;
  margin-left: 3%;
  margin-bottom: -0.6%;
}

#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  background-color: white;
  font-family: Arial;
}

#header-img {
  max-width: 5%;
  height: auto;
  flex-grow: 1;
}

#product-name {
  font-size: 1.2em;
  flex-grow: 1;
  align-self: center;
}

#nav-bar {
  align-self: center;
  font-size: 1.2em;
  flex-grow: 1;
  text-align: right;
  margin-right: 5%;
}

.nav-link {
  color: black;
}

#top-box {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2em;
  margin-bottom: -1%;
  margin-top: 4%;
}

#top-box-text {
  font-family: 'Times New Roman';
}

#top-box-image {
  text-align: right;
  max-width: 50%;
}

#car-image {
  max-width: 100%;
  height: auto;
}

#middle-box {
  display: flex;
  height: auto;
}

#specs {
  flex-grow: 1;
  max-width: 30%;
  font-size: 1.4em;
  font-family: Arial;
}

#specs-heading {
  margin-left: 10%;
  font-size: 1.2em;
  margin-top: 15%;
  margin-bottom: -3%;
}

#specs-list {
  line-height: 2.4em;
}
#video-div {
  flex-grow: 1;
  text-align: center;
}

#video {
  width: 80%;
  height: 70%;
  margin-top: 18%;
}

#form {
  background-color: khaki;
  flex-grow: 1;
  max-width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  padding-bottom: 2%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  font-family: Georgia;
}

#submit {
  padding: 1% 5% 1% 5%;
}
#fine-print {
  font-size: 0.6em;
}

#reviews {
  margin-top: 4%;
}

.review-text {
  margin-left: 10%;
  margin-right: 30%;
  text-align: justify;
}

#review-flex {
  display: flex;
}
#review-text-div {

}

#review-image-div {
  margin-right: 5%;
  margin-top: 5%;
}
#pricing {
  text-align: center;
  margin-top: 4%;
}

#trim-levels {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  #trim-levels {
    display: flex;
    flex-direction: column;
  }
}

.level {
/**  border-style: solid;
  border-color: black;
  border-width: 1px; **/
  padding-right: 2%;
  margin-top: 4%;
  background-color: lightgray;
/**  box-shadow: 4px 4px  2px black; **/
  }

ul {
  text-align: left;
}

footer {
  margin-top: 4%;
  margin-left: 3%;

}
